body {
    background: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}



  .logo .brand-logo {
    max-width: 50%;
    max-height: 50%;
    width: 10%;

}
.logo .brand-logo {
    display: block;
    margin: 0 auto;
}
.logo .brand-logo {
    position: absolute;
    bottom: 300;
    left: 0;
    right: 0;
    margin: auto;
}
.contact-list {
    list-style-type: none;
    padding: 0;
}
.contact-list li {
    margin-bottom: 10px;
}
